.section-reserv {
      background-image: url('img/reserv.jpg');
      background-size: cover;
      background-position: center center;
      height: 100vh; /* Adjust the height as needed */
      display: flex;
      justify-content: center;
      align-items: center;
    }

container-reserv {
      max-width: 513px;
      max-height: 711px;
      margin: 0 auto;
      padding: 30px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.container-reserv h1 {
      text-align: center;
    }

.container-reserv h3 {
      color: #888;
      font-size: 16px;
      text-align: center;
  
.container-reserv input[type="text"],
.container-reserv input[type="tel"],
.container-reserv input[type="number"],
.container-reserv select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
    }

    .container-reserv button {
      background-color: #f98250;
      color: #fff;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 4px;
    }

    .container-reserv button:hover {
      background-color: #45a049;
    }
    
