@import "./fonts.css";
 .testimonials{
    /* padding: 80px 0 90px;
     */
     position: relative;
     background: url("../img/testimonial/testimonials_background.jpg");
    /* height: calc(1520px + (867 - 1520) * ((100vw - 320px) / (1536 - 320)));
     */
}
/*testimonials__content*/
 .testimonials__content{
     display: grid;
     grid-template-columns: auto;
     justify-content: center;
     padding: 80px 20px 90px;
}
/*testimonials Title */
 .testimonials__content > .testimonials__title{
     display: flex;
     justify-content: center;
     align-content: center;
     margin-bottom:70px;
}
 .testimonials__content > .testimonials__title h2{
    font-family: "Circular Std", serif;
    font-weight: 900;
    font-style: normal;
     font-size: calc(34px + (44 - 34) * ((100vw - 320px) / (1536 - 320)));
     /* font-style: normal; */
     letter-spacing: -1px;
     line-height: 40.12px;
     color:rgb(40, 37, 32);
     text-transform: lowercase;
}
 .testimonials__content > .testimonials__title h2::first-letter{
     text-transform: capitalize;
}
/*-------------------------------------------*/
/*Gallery*/
.testimonials__content > .testimonials__gallery{
    display: grid;
}
.testimonials__gallery > img{
    border-radius: 10px;
    width:calc(232px + (337 - 232) * ((100vw - 320px) / (425 - 320)));
    object-fit: cover;
}
.testimonials__gallery > img:nth-child(1){
    height: calc(310px + (452 - 310) * ((100vw - 320px) / (425 - 320)));
    margin-bottom: 80px;
}
.testimonials__gallery > img:nth-child(2){
    height: calc(129px + (188 - 129) * ((100vw - 320px) / (425 - 320)));
    margin-bottom: 20px;
}
.testimonials__gallery > img:nth-child(3){
    height: calc(170px + (247 - 170) * ((100vw - 320px) / (425 - 320)));
    margin-bottom: 70px;
}
.testimonials__gallery > img:nth-child(4){
    height: calc(185px + (269 - 185) * ((100vw - 320px) / (425 - 320)));
    margin-bottom: 20px;
}
.testimonials__gallery > img:nth-child(5){
    height: calc(113px + (165 - 113) * ((100vw - 320px) / (425 - 320)));
    margin-bottom: 20px;
}
/*------------------------------*/
/*testimonials__footer*/
 .testimonials__footer{
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 50px;
}
 .testimonials__footer button{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
     font-size: 14px;
     font-style: normal;
     line-height: 14px;
     letter-spacing: normal;
     text-transform: uppercase;
     text-align: center;
     color:rgb(40, 37, 32);
     background-color: transparent;
     width: 175px;
     height: 46px;
     border: 0.8px solid rgb(89,150,115);
     border-radius: 34px;
     cursor: pointer;
     background-color: transparent;
}

.testimonials__footer button:hover{
    background-color: rgb(89,150,115);
    color:white;
    transition: 0.5s;
}

@media only screen and (min-width:768px) {
    .testimonials__content > .testimonials__gallery{
        grid-template-columns: auto auto auto;
        height: calc(300px + (500 - 300) * ((100vw - 768px) / (1536 - 768)));
        grid-gap: 0px 80px;
    }
    .testimonials__gallery > img{
        border-radius: 10px;
        width:calc(175px + (330 - 175) * ((100vw - 768px) / (1536 - 768)));
        object-fit: cover;
   }
   .testimonials__gallery > img:nth-child(1){
    grid-area: 1 / 1 / 5 / 3;
    height: calc(235px + (443 - 235) * ((100vw - 768px) / (1536 - 768)));

    }
    .testimonials__gallery > img:nth-child(2){
        grid-area: 1 / 3 / 1 / 6;
        height: calc(98px + (185 - 98) * ((100vw - 768px) / (1536 - 768)));
    }
    .testimonials__gallery > img:nth-child(3){
        grid-area: 2 / 3 / 5 / 6;
        height: calc(128px + (242 - 128) * ((100vw - 768px) / (1536 - 768)));
        margin-top: -45px;
    }
    .testimonials__gallery > img:nth-child(4){
        grid-area: 1 / 6 / 2 / 6;
        height: calc(140px + (264 - 140) * ((100vw - 768px) / (1536 - 768)));
        margin-bottom: 15px;
    }
    .testimonials__gallery > img:nth-child(5){
        grid-area: 2 / 6 / 5 / 6;
        height: calc(86px + (162 - 86) * ((100vw - 768px) / (1536 - 768)));
    }
}

@media only screen and (min-width:1024px) {
    .testimonials__gallery > img:nth-child(3){
        margin-top: -55px;
    }
}

@media only screen and (min-width:1440px) {
    .testimonials__gallery > img:nth-child(3){
        margin-top: -70px;
    }
}

@media only screen and (min-width:2560px) {
    .testimonials__gallery > img:nth-child(3){
        margin-top: -120px;
    }
}
