<section class="accommodation">
    <div class="accommodation__title">
        <h2>Cabin Rentals</h2>
    </div>
    <div class="accommodation__container">
        <article class="accommodation__card card">
            <div class="acard__image">
                <img src="img/accommodation/accommodation_river.jpeg" alt="River Chalet">
            </div>
            <div class="acard__info">
                <p class="acard__price">$65/night</p>
                <h3 class="acard__name">River Chalet</h3>
                <p class="acard__info">1 Bedroom, 1 Bathroom, 2 Sleeps</p>
                <div class="card__button button">
                    <a class="button" href="#">
                        Reserv cabin
                    </a>
                </div>
            </div>
        </article>
        <article class="accommodation__card card">
            <div class="acard__image">
                <img src="img/accommodation/accommodation_lodge.jpeg" alt="Lookout Lodge">
            </div>
            <div class="acard__info">
                <p class="acard__price">$75/night</p>
                <h3 class="acard__name">Lookout Lodge</h3>
                <p class="acard__info">1 Bedroom, 1 Bathroom, 2 Sleeps</p>
                <div class="card__button button">
                    <a class="button" href="#">
                        Reserv cabin
                    </a>
                </div>
            </div>
        </article>
        <article class="accommodation__card card">
            <div class="acard__image">
                <img src="img/accommodation/accommodation_lodge.jpeg" alt="Lookout Lodge">
            </div>
            <div class="acard__info">
                <p class="acard__price">$75/night</p>
                <h3 class="acard__name">Lookout Lodge</h3>
                <p class="acard__info">1 Bedroom, 1 Bathroom, 2 Sleeps</p>
                <div class="card__button button">
                    <a class="button" href="#">
                        Reserv cabin
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="accommodation__carousel">
        
    </div>
</section>