<section class="adventures">
    <h2 class="adventures__title">Your Adventure Starts Here</h2>
    <p class="adventures__text">Welcome to a perfect escape in Yosemite Mariposa County, California! Yosemite National 
        Park is known for its giant sequoias and the observation deck of the Portal View, which 
        overlooks the Briddlevale Falls, the El Capitan granite rocks and the Half House.
        The Yosemite village proudly offers a lot of shops, restaurants, hotels, and a museum,
        along with the Ansel Adams Gallery. Plan your adventure and find your place in Yosemite!
    </p>
    <div class="adventures__places">
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/horse_ranch_changed.jpg" alt="horse ranch">
            <h3>Yosemite Gateway Horse Ranch "Getaway" Cottage</h3>
        </div>
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/meadows_lodge_changed.jpg" alt="meadows lodge">
            <h3>Tuolumne Meadows Lodge</h3>
        </div>
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/sierra_rental_changed.jpg" alt="sierra rental">
            <h3>Sierra Sunrise Vacation Rental</h3>
        </div>
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/donya_marie_cottage_changed.jpg" alt="donya marie cottage">
            <h3>Donya Marie's Cottage on Evergreen</h3>
        </div> 
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/sierra_meadow_cottage_changed.jpg" alt="sierra meadow cottage">
            <h3>Sierra Meadow Cottage</h3>
        </div>
        <div class="adventures__places-item">
            <img class ="adventures__places-image" src="img/adventures/changed/yosemite_river_house_changed.jpg" alt="yosemite_river_house">
            <h3>Yosemite's River House</h3>
        </div>
    </div>
</section>