<section class="getfullanswer">
    <div class="getfullanswer__elements">
        <div class="getfullanswer__title">
            <h2 class="getfullanswer__title-text">Get full answer for your question</h2>
        </div>
        <div class="getfullanswer__buttons">
            <div class="getfullanswer__callus button">
                <a href="#" class="button" href="#">call us</a>
            </div>
            <div class="getfullanswer__reservation button">
                <a href="#" class="button" href="#">reservation</a>
            </div>
        </div>
    </div>
</section>