<header class="header">
    <div class="header__contacts">
        <address class="header__address">
            Yosemite Mariposa County, Ca, USA
        </address>
        <div class="header__logo-container">
            <a href="index.html"><img class="header__logo" src="img/yosemite-logo.png" alt="Yosemite Logo">Home page</a>
        </div>
        <div class="header__phone">
            <a href="tel:+12345678900">+1 (234) 567 89 00</a>
            <a href="tel:+12345678901">+1 (234) 567 89 01</a>
        </div>
    </div>
    <nav class="header__menu">
        <a href="about.html" class="header__menu-item">About</a>
        <a href="gallery.html" class="header__menu-item">Gallery</a>
        <a href="accomodation.html" class="header__menu-item">Accomodation</a>
        <a href="howtogetthere.html" class="header__menu-item">How to get there</a>
    </nav>
</header>