<section class="section-order-a-call">
    <div class="test">
        <div class="container-call">
            <h2>Yosemite Vacation Cabin Rental</h2>
            <p>Plan your next vacation and enjoy the nature around you!</p>
            <!--<form>-->
            <div class="md-input">
                <input oninput="handleChange(value)" id="input-names" type="text" required />
                <span class="material-symbols-outlined"></span>
                <label for="input-names">Name*</label>
            </div>
            <div class="md-input">
                <input oninput="handleChange(value)" id="input-phones" type="tel" required />
                <span class="material-symbols-outlined"></span>
                <label for="input-phones">Phone number*</label>
            </div>
            <button type="submit">Order a call</button>
            <!--</form>-->
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img src="img/icon-call.svg" width="34" alt="icon">
                <h2>Thank you!</h2>
                <p>We will contact you shortly.</p>
                <button id="okButton">OK</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/orderacall.js"></script>
</section>