<section class="rentals">
    <h2 class="rentals__title">Cabin Rentals</h2>
    <article class="rentals__card card">
        <p class="card__price">$65/night</p>
        <h3 class="card__name">River Chalet</h3>
        <p class="card__info">1 Bedroom, 1 Bathroom, Sleeps 2</p>
        <button class="card__more-info"></button>
    </article>
    <article class="rentals__card card">
        <p class="card__price">$$75/night</p>
        <h3 class="card__name">Lookout Lodge</h3>
        <p class="card__info">2 Bedrooms, 1 Bathroom, Sleeps 4</p>
        <button class="card__more-info"></button>
    </article>
    <article class="rentals__card card">
        <p class="card__price">$85/night</p>
        <h3 class="card__name">Smoky View Chalet</h3>
        <p class="card__info">2 Bedrooms, 2 Bathrooms, Sleeps 6</p>
        <button class="card__more-info"></button>
    </article>
    <article class="rentals__card card">
        <p class="card__price">$$95/night</p>
        <h3 class="card__name">Mountain Haven</h3>
        <p class="card__info">3 Bedrooms, 2 Bathrooms, Sleeps 8</p>
        <button class="card__more-info"></button>
    </article>
    <button class="rentals__see-all"></button>
</section>