<section class="rentals">
    <div class="rentals__title">
        <h2>Cabin Rentals</h2>
    </div>
    <div class="rentals__container">
        <div class="rentals__row">
            <article class="rentals__card card">
                <div class="card__river">
                    <p class="card__price">$65/night</p>
                    <h3 class="card__name">River Chalet</h3>
                    <p class="card__info">1 Bedroom, 1 Bathroom, Sleeps 2</p>
                    <div class="card__button button">
                        <a class="button" href="/accomodation.html">
                            Learn more
                        </a>
                    </div>
                </div>
            </article>
            <article class="rentals__card card">
                <div class="card__lookout">
                    <p class="card__price">$75/night</p>
                    <h3 class="card__name">Lookout Lodge</h3>
                    <p class="card__info">2 Bedrooms, 1 Bathroom, Sleeps 4</p>
                    <div class="card__button button">
                        <a class="button" href="/accomodation.html">
                            Learn more
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="rentals__row">
            <article class="rentals__card card">
                <div class="card__smoky">
                    <p class="card__price">$85/night</p>
                    <h3 class="card__name">Smoky View Chalet</h3>
                    <p class="card__info">2 Bedrooms, 2 Bathrooms, Sleeps 6</p>
                    <div class="card__button button">
                        <a class="button" href="/accomodation.html">
                            Learn more
                        </a>
                    </div>
                </div>
            </article>
            <article class="rentals__card card">
                <div class="card__haven">
                    <p class="card__price">$95/night</p>
                    <h3 class="card__name">Mountain Haven</h3>
                    <p class="card__info">3 Bedrooms, 2 Bathrooms, Sleeps 8</p>
                    <div class="card__button button">
                        <a class="button" href="/accomodation.html">
                            Learn more
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="rentals__button button-all">
        <a class="button-all" href="/accomodation.html">
            See all cabins
        </a>
    </div>
</section>