 <section id="sect-reserv">
    <div class="container-reserv">
        <h1>Make a Reservation</h1>
        <h3>Please complete the form below</h3>
      <form>
        <input type="text" placeholder="Name*" required>
        <input type="tel" placeholder="Phone number*" required>
        <input type="text" placeholder="Check-in date">
        <input type="text" placeholder="Check-out date">
        <select>
          <option value="">Number of guests</option>
          <option value="1">1 guest</option>
          <option value="2">2 guests</option>
          <option value="3">3 guests</option>
          <option value="4">4 guests</option>
          <option value="5">5 guests</option>
          <option value="6">6 guests</option>
          <option value="7">7 guests</option>
          <option value="8">8 guests</option>
          <option value="9">9 guests</option>
          <option value="10">10 guests</option>
        </select>
        <button type="submit">Make a reservation</button>
      </form>
    </div>
  </section>
