<!--<section class="reservation">
  <div class="reserv">
        <div class="container-login" style="background-image: url('images/bg-res.jpg');">
            <input class="input100" type="text" placeholder="Name*" >
            <input class="input100" type="text" placeholder="Phone number*" >
            <input class="input100" type="text" placeholder="Check in date" >
            <input class="input100" type="text" placeholder="Check out date" >
            <input class="input100" type="text" placeholder="Number of guests" >
            <button class="login100-form-btn">
                Make a reservation
            </button>
        </div>
    </div>
</section>-->
