<section class="shop-cafe">
    <h2 class="shop-cafe__title">Shop & Cafe</h2>
    <p class="shop-cafe__subtittle">Yosemite Shop and Cafe is located on-site,
        offering the freshest and the best local food and drinks during the day.
        We are open morning to late evening during the summer season.</p>

    <div class="food__photoexamples">
        <div>
            <article class="photofood">
                <img src="img/coffee.jpeg" width="400" alt="coffee">
                <h3>Free Breakfast</h3>
                <p>We are known for our breakfasts, which we serve each day
                    from 9:30 to 11:00. We respect our guests and can offer
                    a diversified menu with something special to satisfy any whimsical taste.</p>
            </article>
        </div>
        <div>
            <article class="photofood">
                <img src="img/foodgrill.jpeg" width="400" alt="meat">
                <h3>Lunch & Light Bites</h3>
                <p>We offer a wide range of starters, snacks, light bites, main courses,
                    and incredibly delicious desserts from Monday to Saturday. We use only seasonal
                    ingredients and change our menu daily.</p>
            </article>
        </div>
    </div>
</section>