<section class="section-food">
    <h2 class="section-food__title">Shop & Cafe</h2>
    <p class="section-food__subtitle">Yosemite Shop and Cafe is located on site, offering the freshest
        and the best local food and drinks during the day. We are open morning
        to late evening during the summer season.</p>

    <div class="section-food__card-grid">
        <article class="image-card">
            <img class="image-card__image" src="img/coffee.jpeg" width="400" alt="coffee">
            <p class="image-card__title">Free Breakfast</p>
            <p class="image-card__body"> We are known for our breakfasts,
                which we serve each dayfrom 9:30 to 11:00. We respect our guests
                and can offer a diversified menu with something special
                to satisfy any whimsical taste.
            </p>
        </article>

        <article class="image-card">
            <img class="image-card__image" src="img/foodgrill.jpeg" width="400" alt="meat">
            <p class="image-card__title">Lunch & Light Bites</p>
            <p class="image-card__body">We offer a wide range of starters, snacks, light bites, main courses,
                and incredibly delicious desserts Monday to Saturday. We use only seasonal ingredients and change our
                menu daily.
            </p>
        </article>
    </div>
</section>