<section class="testimonials">
    <div class="testimonials__content">
      <div class="testimonials__title">
        <h2>Testimonials</h2>
      </div>
  
      <div class="testimonials__gallery">
        <img
          src="img/testimonial/horse_kid.jpg"
          class="testimonials__gallery-horse"
          alt="horse_kid"
        >
        <img
          src="img/testimonial/couple_canoe.jpg"
          class="testimonials__gallery-couple"
          alt="couple_canoe"
        >
        <img
          src="img/testimonial/girl_mountains.jpg"
          class="testimonials__gallery-mountains"
          alt="girl_mountains"
        >
        <img
          src="img/testimonial/girl_lake.jpg"
          class="testimonials__gallery-lake"
          alt="girl_lake"
        >
        <img
          src="img/testimonial/three_people.jpg"
          class="testimonials__gallery-people"
          alt="three_people"
        >
      </div>
  
      <div>
        <div class="testimonials__footer"><button>all testimonials</button></div>
      </div>
    </div>
  </section>
  