<section id="thingstodo" class="thingstodo">
    <h2 class="thingstodo_title" >Things To Do</h2>
    <div class="thingstodo_content">
        <article class="horse_riding">
            <img src="img/horse_riding.jfif" alt="horse riding">
            <h3 class="horseriding_title">Horse Riding</h3>
            <h4 class="horseriding_price" >$4/hour</h4>
            <p class="horseriding_info" >Take a measured romantic horseback riding tour and enjoy our unforgettable picturesque surroundings.</p>
        </article>

    </div>

</section>