<section class="thingstodo">
    <div class="thingstodo_title">
       <h2>Things To Do</h2>
    </div>
    <div class="thingstodo_container">
       <div class="thingstodo_row">
          <article class="horse_riding card">
             <div class="card horseriding">
                <img src="img/horse_riding.jfif" alt="horse riding">
                <h3 class="thingstodo_block_title">Horse Riding</h3>
                <p class="thingstodo_price">$4/hour</p>
                <p class="thingstodo_description">Take a measured romantic horseback riding tour and enjoy our unforgettable picturesque surroundings.</p>
             </div>
          </article>
          <article class="rock_climbing">
             <div class="card rockclimbing_card">
                <img src="img/rock_climbing.jfif" alt="rock climbing">
                <h3 class="thingstodo_block_title">Rock Climbing</h3>
                <p class="thingstodo_price">$2/hour</p>
                <p class="thingstodo_description">Whether you are a professional mountaineer or it's your first time, Yosemite is one of the best places for this kind of sport.</p>
             </div>
          </article>
          <article class="biking">
             <div class="biking_card">
                <img src="img/biking.jfif" alt="biking">
                <h3 class="thingstodo_block_title">Biking</h3>
                <p class="thingstodo_price">$1/hour</p>
                <p class="thingstodo_description">Rent a bike and take a fun and easy two-wheel tour over Yosemite Valley. It usually takes 2 hours.</p>
             </div>
          </article>
       </div>
       <div class="thingstodo_row">
          <article class="rafting">
             <div class="rafting_card">
                <img src="img/rafting.jfif" alt="rafting">
                <h3 class="thingstodo_block_title">Rafting</h3>
                <p class="thingstodo_price">$3/hour</p>
                <p class="thingstodo_description">You have a perfect choice to combine your river rafting adventure with a visit to the park. Test our waters.</p>
             </div>
          </article>
          <article class="fishing">
             <div class="fishing_card">
                <img src="img/fishing.jfif" alt="fishing">
                <h3 class="thingstodo_block_title">Fishing</h3>
                <p class="thingstodo_price">$2/hour</p>
                <p class="thingstodo_description">With a number of permanent streams and mountain lakes, we offer anglers of all levels a diverse variety of opportunities for fishing.</p>
             </div>
          </article>
          <article class="spasandwellness">
             <div class="card spaandwellness_card">
                <img src="img/spasandwellness.jfif" alt="spasandwellness">
                <h3 class="thingstodo_block_title">Spas and Wellness</h3>
                <p class="thingstodo_price">$2/hour</p>
                <p class="thingstodo_description">After a long exhausting day, you can relax and pamper yourself in our unique spa and wellness center.</p>
             </div>
          </article>
       </div>
    </div>
 </section>