<section id="thingstodo" class="thingstodo">
    <h2 class="thingstodo_title" >Things To Do</h2>
    <div class="thingstodo_content">
        <article class="horse_riding">
            <img src="img/horse_riding.jfif" alt="horse riding">
            <h3 class="horseriding_title">Horse Riding</h3>
            <h4 class="horseriding_price" >$4/hour</h4>
            <p class="horseriding_info" >Take a measured romantic horseback riding tour and enjoy our unforgettable picturesque surroundings.</p>
        </article>
        <article class="rock_climbing">
            <img src="img/rock_climbing.jfif" alt="rock climbing">
            <h3 class="rockclimbing_title">Rock Climbing</h3>
            <h4 class="rockclimbing_price" >$2/hour</h4>
            <p class="rockclimbing_info" >Whether you are a professional mountaineer or it's your first time, Yosemite one of the best places for this kind of sport.</p>
        </article>
        <article class="biking">
            <img src="img/biking.jfif" alt="biking">
            <h3 class="biking_title">Biking</h3>
            <h4 class="biking_price" >$1/hour</h4>
            <p class="biking_info" >Rent a bike and take a fun and easy two-wheel tour over Yosemite Valley. It usually takes 2 hours.</p>
        </article>
        <article class="rafting">
            <img src="img/rafting.jfif" alt="rafting">
            <h3 class="rafting_title">Rafting</h3>
            <h4 class="rafting_price" >$3/hour</h4>
            <p class="rafting_info" >You have a perfect choice to combine your river rafting adventure with a visit to the park. Test our waters.</p>
        </article>
        <article class="fishing">
            <img src="img/fishing.jfif" alt="fishing">
            <h3 class="fishing_title">Fishing</h3>
            <h4 class="fishing_price" >$2/hour</h4>
            <p class="fishing_info" >With a number of permanent streams and mountain lakes, we offer anglers of all levels a diverse variety of opportunities for fishing.</p>
        </article>
        <article class="spasandwellness">
            <img src="img/spasandwellness.jfif" alt="spasandwellness">
            <h3 class="spasandwellness_title">Spas and Wellness</h3>
            <h4 class="spasandwellness_price" >$2/hour</h4>
            <p class="spasandwellness_info" >After a long exhausting day, you can relax and pamper yourself in our unique spa and wellness center.</p>
        </article>
    </div>
</section>