 .accommodation {
     padding-bottom: 20px;
     position: relative;
 }

 .light-background {
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../../img/accommodation/accommodation_background.jpeg");
 }

 .dark-background {
     background-image: linear-gradient(to right, rgba(35, 34, 33, 0.2), rgba(35, 34, 33, 0.2)), url("../../img/accommodation/accommodation_background.jpeg");

 }

 .accommodation__card {
     padding-bottom: 50px;

 }

 .accommodation__title {
     display: flex;
     flex-direction: column;
     text-align: center;
     padding-top: 60px;
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../../img/accommodation/accommodation_background.jpeg");
 }

 .accommodation__title h2 {
     font-family: 'Circular Std', sans-serif;
     font-weight: 100;
     font-style: normal;
     color: var(--accomodation-title);
     font-size: 28px;
 }

 .accommodation__card.card .card__image {
     padding-left: 24px;
     padding-right: 24px;
     padding-top: 50px;
     padding-bottom: 30px;

 }

 .accommodation__card.card .card__image img {
     border-radius: 10px;
 }

 .accommodation__card.card .card__inform {
     padding-left: 24px;
     padding-right: 24px;
 }

 .accommodation h3 {
     font-family: 'Circular Std', sans-serif;
     font-weight: 100;
     font-style: normal;
     color: var(--accomodation-title);
     font-size: 22px;
 }

 .accommodation__card.card .card__price {
     font-family: 'Circular Std', sans-serif;
     font-weight: 100;
     font-style: normal;
     color: var(--accomodation-title);
     font-size: 35px;

 }

 .accommodation__card.card .card__info {
     font-family: 'Circular Std', sans-serif;
     font-weight: 100;
     font-style: normal;
     color: var(--accomodation-title);
     font-size: 16px;

 }

 .currency {
     position: relative;

 }

 .currency select {
     position: absolute;
     left: 0;
     top: 100%;
 }



 @media (min-width: 767px) {
     .block {
         display: flex;
         max-width: 1200px;
         margin: auto;
     }

     .accommodation__card.card .card__image {
         flex: 2.5;
     }

     .accommodation__card.card .card__inform {
         flex: 1.5;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }
 }