.getfullanswer {
    background-image: url("../../img/backgroundgetgullanswer.jpg");
    background-size: cover;
   /* padding-top: 140px;
    padding-bottom: 140px;*/
}

.getfullanswer__elements {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
}

.getfullanswer__title h2 {
    /*   font-family: 'Circular Std', sans-serif;*/
    font-size: 60px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: -3px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: var(--getfullanswer-title-color);
}

.getfullanswer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}

.getfullanswer__callus a {
    font-family: 'Roboto', sans-serif;
    font-size: 15, 4px;
    font-weight: 600px;
    text-decoration-style: solid;
}

.getfullanswer__reservation a {
    font-family: 'Roboto', sans-serif;
    font-size: 15, 4px;
    font-weight: 600px;
    text-decoration-style: solid;
}

.getfullanswer__callus .button {
    display: inline-block;
    padding: 16px 24px;
    border-radius: 34px;
    margin-right: 5px;
    color: var(--getfullanswer-buttoncallus-text-color);
    background-color: var(--getfullanswer-buttoncallus-background-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.getfullanswer__callus .button:hover {
    background-color: var(--getfullanswer-buttoncallushover-background-color);
    color: var(--getfullanswer-buttoncallushover-text-color);
}

.getfullanswer__reservation .button {
    display: inline-block;
    padding: 16px 24px;
    border-radius: 34px;
    margin-left: 5px;
    border: 1px solid var(--getfullanswer-buttonreservation-border-color);
    color: var(--getfullanswer-buttonreservation-text-color);
    background-color: var(--getfullanswer-buttonreservation-background-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.getfullanswer__reservation .button:hover {
    background-color: var(--getfullanswer-buttonreservation-hover-background-color);
    color: var(--getfullanswer-buttonreservation-hover-text-color);
}

@media (min-width: 356px) {
    .getfullanswer__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}