.slide-in {
    transform: translateX(10%);
    opacity: 0;
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.slide-in.active {
    transform: translateX(0);
    opacity: 1;
}

.getfullanswer {
    background-image: url("../../img/backgroundgetgullanswer.jpg");
    background-size: cover;
    margin-left: -10px;
}

.getfullanswer__elements {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
}

.getfullanswer__title h2 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1.37px;
    line-height: 70.8px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: var(--getfullanswer-title-color);
}

.getfullanswer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.getfullanswer__callus a {
    font-family: 'Roboto', sans-serif;
    font-size: 15.4px;
    font-weight: 400;
}

.getfullanswer__reservation a {
    font-family: 'Roboto', sans-serif;
    font-size: 15.4px;
    font-weight: 600;
    text-decoration-style: solid;
}

.getfullanswer__callus .button {
    display: inline-block;
    padding: 20px 32px 20px 32px;
    border-radius: 32px;
    color: var(--getfullanswer-buttoncallus-text-color);
    background-color: var(--getfullanswer-buttoncallus-background-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.getfullanswer__callus .button:hover {
    background-color: var(--getfullanswer-buttoncallushover-background-color);
    color: var(--getfullanswer-buttoncallushover-text-color);
}

.getfullanswer__reservation .button {
    display: inline-block;
    margin-top: 20px;
    padding: 16px 24px;
    border-radius: 34px;
    border: 1px solid var(--getfullanswer-buttonreservation-border-color);
    color: var(--getfullanswer-buttonreservation-text-color);
    background-color: var(--getfullanswer-buttonreservation-background-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.getfullanswer__reservation .button:hover {
    background-color: var(--getfullanswer-buttonreservation-hover-background-color);
    color: var(--getfullanswer-buttonreservation-hover-text-color);
}

@media (min-width: 358px) {
    .getfullanswer__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .getfullanswer__reservation .button {
        margin-top: 0px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    .getfullanswer__elements {
        padding-top: 140px;
        padding-bottom: 140px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1024px) {
    .getfullanswer__elements {
        padding-top: 180px;
        padding-bottom: 180px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1440px) {
    .getfullanswer__elements {
        padding-top: 180px;
        padding-bottom: 180px;
        padding-left: 135px;
        padding-right: 135px;
    }
}