.header {
    font-family: 'Roboto', sans-serif;
}

.header__contacts {
    display: flex;
    padding: 40px;
}

.header__address {
    display: none;
}

.header__phone {
    display: none;
}

.header__menu {
    display: none;
}

@media (min-width: 990px) {
    .header__contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__phone-item {
        text-decoration: none;
        color: rgb(249, 130, 80);
    }

    .header__menu {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .header__menu-item {
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
}
