
 .section-order-a-call {
     background-image: url("../../img/background-orderacall.jpeg");
     background-size: cover;
     background-position: center center;
 }
.test {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.container-call {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container-call h2 {
    color: #282520;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding-top: 35px;
    line-height: 30,8px;
    padding-left: 31px;
    padding-right: 31px;
    
    

}

.container-call p {
    color: #848484;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-left: 31px;
    padding-right: 31px;
    
}

.container-call input[type="text"],
.container-call input[type="tel"],
.container-call input[type="number"],
.container-call select {

    border: 1px solid #ccc;
    border-radius: 34px;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    
}

.container-call button {
    background-color: #f98250;
    color: #fff;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 35px;
    margin-left: 31px;
    margin-right: 31px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    font-family: 'Circular Std', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.5s;
    text-transform: uppercase;
    padding: 16px 24px;
    max-width: 100%;
}

.container-call button:hover {
    background-color: #599673;
    transition: background-color 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
    height: 270px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content img {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
}

.modal-content h2 {
    color: #282520;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-indent: 27px;
    padding-right: 20px;
}

.modal-content p {
    color: #848484;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 75;
    margin-top: 5px;
    margin-bottom: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: #f98250;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    height: 15px;
    width: 65%;
    border-radius: 15px;
    font-family: 'Circular Std', sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.5s;
    margin: 0 auto;
}

.modal-content button:hover {
    background-color: #599673;
    transition: background-color 0.3s;
}


.md-input {
    margin: 10px;
    position: relative;
    font-family: 'Circular Std', sans-serif;
}

.md-input :is(label, span) {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: #888888;
    transition: 0.3s;
}

.md-input > label {
    left: 10px;
    translate: 0 -50%;
    padding: 4px 8px;
}

.md-input > span {
    right: 16px;
    font-size: 28px;
}

.md-input > input {
    height: 56px;
    width: 250px;
    padding-left: 16px;
    border: 2px solid #888888;
    border-radius: 13px;
    outline: none;
    background: #2825201f;
    color: #000000;
    font-size: 16px;
}

.md-input > select {
    height: 56px;
    width: 350px;
    padding-left: 12px;
    border: 1px solid #888888;
    border-radius: 20px;
    outline: none;
    background: transparent;
    color: #888888;
    font-size: 16px;
    font-family: 'Circular Std', sans-serif;
}

.md-input input:focus {
    border-color: blue;
}

