.section-order-a-call {
    background-image: url("../../img/background-orderacall.jpeg");
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.ordercall {
    margin: auto;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
}

.container-call {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 31px;
    padding-right: 31px;
    


}

.container-call h2 {
    color: #282520;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-top: 35px;
    line-height: 30, 8px;
    
}

.container-call p {
    color: rgb(132, 132, 132);
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
 
}

.form-container {
    display: flex;
    flex-direction: column;
}

.md-input {
    position: relative;
    margin-bottom: 25px;
}

.md-input input[type="text"],
.md-input input[type="tel"] {
    padding: 16px 24px;
    background-color: #f2f2f2;
    border-radius: 34px;
    width: 100%;
}

.md-input label {
    padding: 16px 24px;
    background-color: transparent;
    border-radius: 34px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: rgb(132, 132, 132);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.md-input > input {
    padding-left: 16px;
    border: 2px solid #f2f2f2;
    border-radius: 13px;
    outline: none;
    background: transparent;
    color: #000000;
    font-size: 16px;
}

.md-input input:focus {
    border-color: blue;
}

.container-call button {
    background-color: #f98250;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.5s;
    text-transform: uppercase;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 35px;
    padding: 16px 24px;
}

.container-call button:hover {
    background-color: #599673;
    transition: background-color 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
    height: 270px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content img {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
}

.modal-content h2 {
    color: #282520;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-indent: 27px;
    padding-right: 20px;
}

.modal-content p {
    color: #848484;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 75;
    margin-top: 5px;
    margin-bottom: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: #f98250;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    height: 15px;
    width: 65%;
    border-radius: 15px;
    font-family: 'Circular Std', sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.5s;
    margin: 0 auto;
}

.modal-content button:hover {
    background-color: #599673;
    transition: background-color 0.3s;
}


@media (min-width: 768px) {
    .section-order-a-call {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  
    .ordercall {
      grid-column: 2 / span 1;
    }
  }