.ourfacilities {
    background-image: url("../../img/backgroundourfacilities.jpg");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.clock {
    text-align: center;
}

.ourfacilities__title h2 {
    /*  font-family: 'Circular Std', sans-serif; */
    font-size: 34px;
    letter-spacing: 2px;
    vertical-align: baseline;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: var(--ourfacilities-title-color);
}

.ourfacilities__photo-container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ourfacilities__photo-forest {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}