.thingstodo {
	background-image: url("../../img/thingstodo_background_2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.thingstodo_title {
	font-size: 34px;
	color: var(--ourfacilities-title-color);
	font-weight: bold;
	text-align: center;
}

.thingstodo_block_title {
	color: var(--ourfacilities-title-color);
	font-size: 25px;
	font-style: normal;
	text-align: center;
}

.thingstodo_price {
	color: var(--ui-brand-color);
	font-size: 20px;
	font-style: normal;
	text-align: center;
}

.thingstodo_description {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	color: rgb(132, 132, 132);
	text-align: center;
}
.thingstodo_img {
	position: absolute;
	border-radius: inherit;
}
.thingstodo_background_attachment {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	background: #fff;
}