@import "../global.css";
@import "../index/header.css";
@import "../index/header-burger.css";
@import "../index/footer.css";
@import "../fonts.css";

.gallery__title {
  font-size: 2.1rem;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.gallery {
  background-image: url("../../img/photo-gallery/background-gallery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-gallery__nav {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.photo-gallery__nav ul {
  display: flex;
  list-style: none;
}

.photo-gallery__nav-item {
  color: black;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.photo-gallery__nav-item.active {
  border-bottom: 2px solid #000;
}  

.photo-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.photo-gallery__title-page {
  display: none;
}

@media (max-width: 500px) {
  .photo-gallery__nav {
    display: flex;
  }
  .photo-gallery__nav ul {
    flex-direction: column;
  }  
}

.photo-gallery__container {
  display: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-gallery__item {
  width: 30%; 
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.photo-gallery__item--large {
  width: 60%; 
}

 @media screen and (max-width: 500px) {
  .photo-gallery__item {
    width: 100%; 
    float: none;
  }
} 

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.modal-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #000;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.modal-button:hover {
  opacity: 1;
}

.modal-button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.modal-button.prev {
  left: 5px;
  margin-left: 20px; 
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-button.next {
  margin-right: 20px;  
  right: 5px;  
  top: 50%;
  transform: translate(50%, -50%);
}

.modal-button.close {
  margin-right: 20px;  
  right: 5px;  
  top: 0;
  transform: translate(50%, 0);
  
}

.our-guests__title  {
  color: white;
  font-size: 2.1rem;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.our-guests {
  background-image: url("../../img/photo-gallery/background-our-guests.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.our-guests__carousel-btn-prev,
.our-guests__carousel-btn-next {
  position: absolute;
  top: 50%;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

 .our-guests__carousel-btn-prev {
  left: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.our-guests__carousel-btn-next {
  right: 20px;
  transform: translateY(-50%);
}

.our-guests__carousel-btn-prev svg,
.our-guests__carousel-btn-next svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.our-guests__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.our-guests__carousel-slide {
  display: flex;
 transition: transform 0.5s ease-in-out;
  width: fit-content;
  margin: 0 auto;
}

.our-guests__carousel-slide .carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  .our-guests__carousel-slide .carousel-item {
    flex: 0 0 20%;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .our-guests__carousel-slide .carousel-item {
    flex: 0 0 25%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .our-guests__carousel-slide .carousel-item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .our-guests__carousel-slide .carousel-item {
    flex: 0 0 50%;
  }
}

@media (max-width: 320px) {
  .our-guests__carousel-slide .carousel-item {
    flex: 0 0 100%;
  }
}

.our-weather__title  {
  color: white;
  font-size: 2.1rem;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.our-weather {
  background-image: url("../../img/photo-gallery/background-our-weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weather__content {
  color: white;
  margin-top: 10px;
}

.weather__location {
  font-size: 18px;
  
  margin-bottom: 5px;
}

.weather__temperature {
  font-size: 16px;
  margin-bottom: 5px;
}

.weather__description {
  font-size: 14px;
  margin-bottom: 10px;
}

.weather__details {
  margin-top: 10px;
  white-space: pre-line;
}

.weather__details--visible {
  display: block;
}

.weather__icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}