@import "../global.css";
@import "../index/header.css";
@import "../fonts.css";

#photo-gallery-page * {
  outline: 1px solid red;
  /*    padding: 5px;*/
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 0.8rem;
}

.centered {
  text-align: center;
}

.photo-gallery__nav {
  display: flex;
  justify-content: center;
}

.photo-gallery__nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.photo-gallery__nav-item {
  color: black;/*потрібен main-color*/
  font-size: 1.5rem;/*потрібна змінна*/
  margin: 5px; 
}

.photo-gallery__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.photo-gallery__grid-layout-lb-rs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 1px;
}

.photo-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.photo-gallery__grid-layout-lb-rs>.photo-gallery__item:first-child {
  grid-row: span 2;
}

.photo-gallery__grid-layout-ls-rb {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 1px;
}

.photo-gallery__grid-layout-ls-rb>.photo-gallery__item:first-child {
  grid-row: 1;
  grid-column: 1;
}

.photo-gallery__grid-layout-ls-rb>.photo-gallery__item:first-child+.photo-gallery__item {
  grid-row: 2;
  grid-column: 1;
}

.photo-gallery__grid-layout-ls-rb>.photo-gallery__item:last-child {
  grid-row: span 2;
  grid-column: 2;
}