#photo-gallery-page * {
    outline: 1px solid red;
/*    padding: 5px;*/
  }

  .centered {
    text-align: center;
  } 

  .photo-gallery__nav {
    display: flex; 
    justify-content: center; 
  }
  
  .photo-gallery__nav ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
  }
  
  .photo-gallery__nav-item {
    margin-right: 10px; 
  }
  
  .photo-gallery__nav-item:last-child {
    margin-right: 0; 
  }  

/**/
.photo-gallery__summer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(4, 20%); 
  grid-gap: 10px; 
}

.photo-gallery__summer img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.photo-gallery__summer img:nth-child(1) {
  grid-row: 1 / span 2; 
  grid-column: 1 / span 2; 
}

.photo-gallery__summer img:nth-child(2) {
  grid-row: 1;
  grid-column: 3; 
}

.photo-gallery__summer img:nth-child(3) {
  grid-row: 2;
  grid-column: 3; 
}

.photo-gallery__summer img:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}
.photo-gallery__summer img:nth-child(5) {
  grid-row: 4;
  grid-column: 1; 
}

.photo-gallery__summer img:nth-child(6) {
  grid-row: 3 / span 4; 
  grid-column: 2 / span 3; 
}